
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #2B2B2B;
    color: #e6e6e6;
    background-size: 600px;
    background-position: center;
    background-attachment: fixed;
}

header {
    background: rgba(0, 0, 0, 0.8);
    text-align: left;
    border-bottom: 1px solid #232323;
}

header h1 {
    margin: 0;
    color: #ffffff;
    letter-spacing: 5px;
    font-size: 28px;
    text-transform: uppercase;
}

header p {
    color: #9e9e9e;
    font-size: 15px;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.62);
    margin-top: 40px;
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.about-section {
    text-align: center;
}

.profile-img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #000000;
    box-shadow: 0 0 15px #F5F5F5;
    margin-bottom: 20px;
    transition: 0.3s;
}

.profile-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #FF0000;
}

section {
    margin-bottom: 40px;
    padding: 0 20px;
}

h2 {
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E2EFFF;
}

.projects .card {
    background: #111118;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #1f1f2a;
    transition: 0.3s;
}

.projects .card:hover {
    border-color: #9ecbff;
    transform: translateY(-3px);
    box-shadow: 0 0 30px #FF0000;
}

.projects h3 {
    margin: 0;
    color: #ffffff;
}

.projects p {
    margin: 10px 0;
    color: #bfbfbf;
}

footer {
    text-align: center;
    padding: 20px;
    color: #777;
    font-size: 13px;
}
